{% extends 'Admin/base.html.twig' %}

{% block title %}Modifier Auteur{% endblock %}

{% block body %}

<h1>Veuillez modifier les données de l'auteur concerné :</h1>
    {{ form(form) }}

    

    <a href="{{ path('app_admin_author_list') }}">Retour à la liste</a>
{% endblock %}
