{% extends 'base.html.twig' %}
{% block title %} Page Administrateur{% endblock %}
{% block body %}
    <h1>Bienvenue sur la Page Administrateur</h1>
<ul>
    <li><a href="{{ path('app_admin_user_list') }}
">Gestion des utilisateurs</a></li>
    <li><a href="{{ path('app_admin_address_list') }}">Gestion des adresses</a></li>
    <li><a href="{{ path('app_admin_author_list') }}">Gestion des auteurs</a></li>
    <li><a href="#">Gestion des maisons d'édition</a></li>
    <li><a href="#">Gestion des catégories</a></li>
    <li><a href="#">Gestion des livres</a></li>
    <li><a href="#">Gestion des commandes</a></li>
</ul>
{% endblock %}

