{% extends 'Front/home.html.twig' %}
{% block title %} Page d'accueil{% endblock %}
{% block main %}
<h1>Bienvenue </h1>
{% if is_granted('ROLE_ADMIN') %}
        <p>Vous êtes administrateur</p>
{% endif %}
<h2>Liste des auteurs</h2>
<ul>
    {% for author in authors  %}
        <li>
            <a href="{{ path('app_front_author_show', {id: author.id}) }}">Voir le profil de {{ author.name}}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}