{% extends 'Admin/base.html.twig' %}

{% block title %}Créer une Catégorie{% endblock %}

{% block body %}

<h1>Créer une nouvelle catégorie</h1>
    {{ form(form) }}

    <a href="{{ path('app_admin_author_list') }}">Retour à la liste</a>
{% endblock %}