{% extends 'Front/home.html.twig' %}

{% block title %}LookBook - Profil{% endblock %}

{% block main %}
<h1>Profil de {{user.name}}</h1>
<div> Nom:  {{user.name}}</div>
{# <div>Email :  {{user.email}}</div> #}
{% endblock %}
